/*====================== auth ======================*/
.auth {
  display: flex;
  flex: 1;
  background-color: #12002b;
  justify-content: center;
  align-items: center;
  &-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 6px 6px 4px $clr-primary;
  }
  &-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  &-icon {
    font-size: 5rem;
    color: $clr-primary;
  }
  &-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border: 0;
    background-color: $clr-primary;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 0.5s;
    &:hover {
      opacity: 0.9;
    }
  }
  &-form {
    input {
      border-radius: 15px;
      border-color: rgba(rgb(103, 98, 98), 0.3);
      outline: none;
    }
    .input-remember {
      display: flex;
      label {
        margin-left: 0.25rem;
      }
    }
    .input-wrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem;
      label {
        font-weight: bold;
      }
      input {
        padding: 5px;
        font-size: 1.2rem;
      }
    }
  }
}
