/*====================== error page ======================*/
.error-page {
  color: $clr-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 169px 0;
  font-weight: 500;
  h1 {
    font-weight: 700;
    font-size: 15vw;
    gap: 66px;
  }
  p {
    font-size: 36px;
    text-align: center;
  }
  a {
    font-size: 18px;
    text-decoration: underline;
    color: inherit;
  }
}
